<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="MyAppEvaluacion">
    <head>
        <title>:....[Evaluacion Angular 1.6.4]....:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="../jsBootStrap/bootstrap.min3.3.7.css" type="text/css" rel="stylesheet">
        <script src="../jsAngular/angular.min1.6.4.js" type="text/javascript"></script>
        
        <link href="../Css/01-Introduccion/css0103v03FuncionScope.css" type="text/css" rel="stylesheet"/>
        <script src="../30-jsAngular/01-Introduccion/js0104v01FuncionScopeApp.js"></script>
        <script src="../30-jsAngular/04-Controlador/js0404v02CompartirData.js"></script>
    </head>
    
    <body>
        <h3 class="h3">....[Evaluación Angular 1.6.4]....</h3>
        <br>
        <div ng-controller="MyCtrlCompartirA">
            
            Valor A : {{valorA}}
            <br>
            Compartido A: {{valorCompartido}}
            Mensaje A: {{valorCompartido.SharedMensaje}}
            <br>
            <input type="text" ng-model="valorCompartido.SharedMensaje"/>
        </div>
        
        <div ng-controller="MyCtrlCompartirB">
            Valor B : {{valorB}}
            <br>
            Compartido B: {{valorCompartido.SharedMensaje}}
            <br>
            <input type="text" ng-model="valorCompartido.SharedMensaje"/>
        </div>

    </body>
</html>
