<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app>
    <head>
        <title>:....[Evaluacion Angular 1.4.8]....:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
        <div style="background-color: orange; text-align: center">....[Evaluación Angular vs jQuery]....</div>
        <hr>
        
        Directiva:  &LT;ng-model&GT;
        <p>
            Con las expresiones también enriquecemos el HTML, ya que nos permiten colocar cualquier cosa y que AngularJS <br>
            se encargue de interpretarla y resolverla. <br>
            Para crear una expresión simplemente la englobas dentro de dobles llaves, de inicio y fin.
            <input type="text"     ng-model="vDirectiva"/>
            {{vDirectiva}}
            <br>
            {{1+38}}
            <br>
            {{"Carta" + " Fianza"}}
            <br>
            Ingrese un número:  <input type="text"     ng-model="vNumero"/>
            <br>
            {{vNumero|number:2}}
    </body>
</html>
