<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>:....[Evaluacion Angular 1.4.8]....:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body ng-app>
        <div style="background-color: orange; text-align: center">....[Evaluacion Angular 1.4.8]....</div>
        <hr>
        <form id="idIniciarSesion" action="">
            <table>
                <tr>
                    <td>Usuario </td>
                    <td><input type="text" ng-model="vUsuario"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" ng-model="vPassword"/></td>
                </tr>
                <tr>
                    <td  colspan="2"><input type="submit" value="Iniciar Sesion"/></td>
                </tr>
            </table>
        </form>
        <div>
            {{vUsuario}}
            <br>
            {{vPassword}}
        </div>

    </body>
</html>
